.overlay{
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: rgba( #000000, .5)
}

.modal{
    position: absolute;
    width: 380px;
    min-height: 140px;
    background-color: #f2f2f2;
    padding: 40px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &__subtitle{
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
        margin: 0;
    }
    &__descr{
        font-size: 14px;
        font-weight: 500;
        color: #0d0d0d;
        margin: 0;
        margin-top: 11px;
    }
    &__close{
        position: absolute;
        right: -40px;
        font-size: 60px;
        top: -30px;
        color: $main-color;
        cursor: pointer;
    }
}

#order, #consultation, #thanks{
    display: none;
}